@model IEnumerable<MoviesManagement.Models.Domain.Cinema>
@{
}

<div class="tbl-container">
    <h2>Cinema</h2>

    <table>
        <tr>
            <th>Name</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Action</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Latitude</td>
                <td>@item.Longitude</td>
                <td>
                    <a href="@Url.Action("Edit", "Cinema", new { id = item.Id })" class="btn btn-default"><i class="fa fa-edit"></i></a>
                    <a onclick="return window.confirm('Are you sure?')" href="@Url.Action("Delete", "Cinema", new { id = item.Id })" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }

    </table>

    @if (TempData["msg"] != null)
    {
        <div class="alert mb-1">
            @TempData["msg"]
        </div>
    }

    <div class="input-container">
        <a asp-controller="Cinema" asp-action="Add" class="btn btn-sec">Add New</a>
    </div>
</div>